.card{
  position: relative;
  border: 2px solid black;
  width: 64px;
  height: 90px;
  background:white;
}
#player1Card{
  position: absolute;
  top: 200px;
  left: 250px;
}
#player2Card{
  position: absolute;
  top: 200px;
  right: 250px;
}
.spotB1  {
  position: relative;
  left:26px;
}
.index{
  /*margin: auto auto auto 0;*/
  position: relative;
  left: 6px;
}
section{
  border: 10px solid black;
  background: papayawhip;
  height: 100%;
  width: 100%;
  min-height: 500px;
  min-width: 500px;
}
.deck1 {
  background: white;
  position: absolute;
  border: 2px solid black;
  width: 64px;
  height: 90px;
  top: 200px;
  left: 100px;
}
.deck2 {
  background: white;
  position: absolute;
  border: 2px solid black;
  width: 64px;
  height: 90px;
  top: 200px;
  right: 100px;
}
.deck1counter{
  position: absolute;
  border: 2px solid black;
  width: 64px;
  height: 20px;
  top: 160px;
  left: 100px;

}
.deck2counter{
  position: absolute;
  border: 2px solid black;
  width: 64px;
  height: 20px;
  top: 160px;
  right: 100px;

}
.topdeck1{
  background: white;
  position: absolute;
  border: 2px solid black;
  width: 64px;
  height: 90px;
  top: 200px;
  left: 300px;

}
.topdeck2{
  background: white;
  position: absolute;
  border: 2px solid black;
  width: 64px;
  height: 90px;
  top: 200px;
  right: 300px;

}
.initdeck{
  background: white;
  position: relative;
  border: 2px solid black;
  width: 64px;
  height: 90px;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.hidden{
  visibility: hidden;
}
